// Import all of Bootstrap's CSS
$primary:rgb(3,15,39);
$info:rgb(114,127,162);
$pill: rgba(3, 15, 39, 0.637);
// $tab: rgba(5, 18, 44, 0.795);
$black:rgb(220, 220, 250);

@import "node_modules/bootstrap/scss/bootstrap";
