.contacthead {
    padding-top: 70px;
    height: 200px !important;
    background-color: rgba(255, 255, 255, 0.582);
    background-blend-mode: multiply;
    text-align: center;
}

.contactbody {
    width: 900px;
    margin: auto;
    margin-bottom: -100px;

}

.contactbody>section {
    width: 300px !important;
    height: 250px;
    background-color: white;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 .5rem 1rem rgba(86, 87, 88, 0.842);


}

.contactbody1 {
    background-color: rgb(245, 173, 13) !important;
    color: white;
    align-items: center;

}

.contactbody1>h5 {
    color: white;
}

.globacontact {
    width: 800px;
    color: white;
    font-size: 40px;
    font-family: sans-serif;
}

.tosee {
    width: 500px;
}

@media(max-width:945px) {
    * {
        /* border: red solid; */
    }
   

    .contactbody {
        width: 100% !important;
        margin-bottom: -120px;
        flex-direction: column;
    }

    .globacontact {
        width: 100% !important;
        font-size: 30px;
    }

    .contacthead {
        gap: 10px;
        flex-wrap: wrap;
        padding-top: 70px;
        height: 100% !important;
        background-color: rgba(255, 255, 255, 0.582);
        background-blend-mode: multiply;
        text-align: center;
    }
   
    .contactbody>section {
        margin: auto;
        width: 90% !important;
       
    }
    .con{
        padding-left: 0 !important;

    }
}
@media(max-width:520px) {
    
}
@media(max-width:320px) {
    .contactbody>section {
        width: 100% !important;
    }
}