a{
    text-decoration: none;
    text-emphasis: none;
  }

.footer {
  overflow: hidden;
  width: 100%;
  background-color: rgb(3,15,39);
  color: #ffffff;
  font-size: 15px;
}

footer * {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  border: none;
  outline: none;
}
div.social {
  display: flex;
  flex-direction: row;
}


.social .i {
  margin: 10px 5px;
  color: #ffffff;
  font-size: 25px !important;
}
.social{
  width: 100%;
  justify-content: center;
  margin: auto;

}
.copyright p{

  text-align: center;
  font-size: 0.9em;
}
.copyright p a{
  color: white !important;
}

@media(max-width: 850px) {
.row.primary {
  grid-template-columns: 100% ;
  }

  div.social {
    display: flex;
    flex-direction: row;
  }div.social {
    display: none;
  }
}
