/* *{
    border:  red solid;
} */




.service {
    background-color: rgba(0, 0, 0, 0.466);
    color: white;
    height: 80vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

}

a {
    text-decoration: none;
}

.p {
    padding: 0 30px 0 30px;
}

.logo {
    width: 500px;
}

.dbimg {

    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    background-color: rgba(2, 11, 34, 0.712);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 170px 0px 70px 0px;
}

.dbimg main {
    width: 600px;

}

.construction {
    font-family: 'Montserrat';
    font-size: small;
    color: rgb(245, 173, 13);
    /* bor */
}

.span1 {
    width: 30px !important;
    border-bottom-right-radius: 150%;
}

.span2 {
    /* margin-left: -8px; */
}

.global {
    color: white;
    font-size: 60px;
    font-family: sans-serif;
}

.experience {
    color: whitesmoke;
    font-family: 'Montserrat';
    /* font-size: small; */
}

.btnget {
    /* margin-top: 30px; */
    background-color: rgb(3, 15, 39);
    color: white;
    padding: 10px;
    border-radius: 3px;
    font-family: 'Montserrat';
    font-weight: 500;
    border: solid 1px rgb(243, 169, 10);
    transition: transform 80ms ease-in;

}

/* .btngt {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    background-color: rgb(3, 80, 3);
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
    color: #FFFFFF;
    border-radius: 8px;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 50px;
    border: solid 1px white;
    border: 1px solid greenyellow;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
} */

.btnget:hover {
    border: 2px solid rgb(4, 34, 71);
    background-color: rgb(201, 149, 38) !important;
    transform: scale(0.90);
}

.safety {
    /* height: 90vh; */
    background-color: white;
    align-items: center;
    justify-content: space-evenly;
    padding: 25px 25px 45px 0px;

}

.safety main {
    background-color: rgb(245, 173, 13);
    /* width: 350px; */
    height: 70vh;
    padding: 15px 0 0 15px;

}

.safety main img {
    background-color: rgb(245, 173, 13);
    /* margin: 15px 0 0 5px; */
    width: 104%;
    height: 70vh;
}

.list {
    font-size: small;
    flex-wrap: wrap;
    justify-content: space-between;
}

.list~.btnget {
    width: 150px;
}

.we {
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    justify-items: center;
    background-color: whitesmoke;

}

.Diffrientiated {
    max-width: 700px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.listimg {
    max-width: 840px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.listimg div {
    border-top: 6px solid rgb(245, 173, 13);
    width: 260px;
    height: 300px;
    margin-bottom: 20px;
    box-shadow: 2px 1px 6px rgb(0, 0, 0);

}

.cardimg1,
.cardimg2,
.cardimg3,
.cardimg4,
.cardimg5,
.cardimg6 {
    padding-left: 7px;
    padding-right: 7px;
    background-color: white;
    height: 100%;
    width: 100%;

}

.hoverEffecct:hover {
    transform: translateY(-10px);
    transition: transform 1s;
}

.cardimg1:hover,
.cardimg2:hover,
.cardimg3:hover,
.cardimg4:hover,
.cardimg5:hover,
.cardimg6:hover {
    background-color: rgba(5, 5, 26, 0.226);
    color: rgb(255, 255, 255);
    transition: 0.8s ease;
    

}
@keyframes float {

    0%,
    100% {
        transform: rotateY(0rem);
    }

    50% {
        transform: translateY(3rem);
    }

}


.cardimg1:hover a,
.cardimg2:hover a,
.cardimg3:hover a,
.cardimg4:hover a,
.cardimg5:hover a,
.cardimg6:hover a {
    color: white;
}


.usbgimg{
    min-height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    background-color: rgba(2, 11, 34, 0.404);
    display: flex;
    padding: 20px 15px;
    justify-items: center;
    align-items: center;
    justify-content: space-evenly;
}

.usbgimg main {
    background-color: rgb(245, 173, 13);
    width: 350px;
    height: 420px;
    padding: 15px 0 0 15px;

}

.usimg {
    background-color: rgb(245, 173, 13);
    width: 350px;
    height: 230px !important;
    padding: 15px 0 0 15px;

}

.usbgimg>div {
    color: white;
    max-width: 470px;
    display: flex;
    flex-direction: column;

}

.usimg img {
    background-color: rgb(245, 173, 13);
    /* width: 350px; */
    /* height: 400px; */
}

.containn {

    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    background-color: rgba(192, 194, 199, 0.219);
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.usflex {
    gap: 10px;
}

.usflex>button {
    border: solid .1px rgba(207, 206, 206, 0.849);
    background-color: rgba(3, 15, 39, 0.63) !important;
    color: white;
}

@media (max-width: 995px) {
    .dbimg main {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }

    .safety main {
        width: 95%;
        height: 100% !important;
    }

    .safety main img {
        width: 103%;
        height: 100% !important;
    }

    .safety>div {
        padding-top: 30px;
    }

    .safety {
        padding-bottom: 25px;
        padding-left: 25px;
        padding-right: 40px;
    }

    .usbgimg main {
        display: none;
    }
    .usbgimg{
        min-height: 40vh;
    }
}






.tabspy ul li a {
    background-color: transparent !important;
    color: rgb(245, 173, 13);
    font-weight: 700;

}

.tabspy {
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgba(5, 18, 44, 0.795);
    border: solid 0.01px rgba(255, 255, 255, 0.473);
}

@media(max-width:647px) {
    .global {
        font-size: 50px;
    }
    .dbimg{
        height: 100%;
        padding: 100px 0px 25px 0px;
    }
}

@media(max-width:610px) {

    .cardimg1>section,
    .cardimg2>section,
    .cardimg3>section,
    .cardimg4>section,
    .cardimg5>section,
    .cardimg6>section {
        font-size: 15px;

    }

    .listimg div {
        width: 230px !important;
    }
}

@media(max-width:550px) {
    .global {
        font-size: 40px;
    }

    .list>div {
        width: 100% !important;
    }
}

@media(max-width:576px) {
    .safety {
        /* padding-bottom: 25px; */
        padding-left: 10px;
        padding-right: 30px;
    }

    .cardimg1>section,
    .cardimg2>section,
    .cardimg3>section,
    .cardimg4>section,
    .cardimg5>section,
    .cardimg6>section {
        font-size: 13px;

    }

    .listimg div {
        width: 210px !important;
        height: 270px;
    }

    .dbimg main {
        margin-left: -25px !important;
    }
}

@media(max-width:530px) {

    .cardimg1>section,
    .cardimg2>section,
    .cardimg3>section,
    .cardimg4>section,
    .cardimg5>section,
    .cardimg6>section {
        font-size: 13px;

    }

    .cardimg1,
    .cardimg2,
    .cardimg3,
    .cardimg4,
    .cardimg5,
    .cardimg6 {
        padding-left: 5px;
        padding-right: 5px;
    }

    .we {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media(max-width:490px) {

    .cardimg1,
    .cardimg2,
    .cardimg3,
    .cardimg4,
    .cardimg5,
    .cardimg6 {
        padding: 0px 10px 10px 10px;
    }

    .listimg div {
        width: 100% !important;
        height: 100% !important;
        /* padding-bottom: 10px; */
    }

    .cardimg1>section,
    .cardimg2>section,
    .cardimg3>section,
    .cardimg4>section,
    .cardimg5>section,
    .cardimg6>section {
        font-size: 15px;
        text-align: left;
    }

    .usflex {
        flex-direction: column;
    }

    .usflex button {
        width: 75% !important;
    }
}

@media(max-width:460px) {
    .global {
        font-size: 30px;
    }
}

@media(max-width:320px) {
    .global {
        font-size: 20px;
    }
}

/* .logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
  }
  .logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
  }
  .logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
  }
  
  @keyframes logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  @media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
      animation: logo-spin infinite 20s linear;
    }
  } */