
/* //////////// */
.sticky-bottom .btn {
    border-radius: 3px !important;
    border: solid 1px black !important;
    font-size: medium;
    font-weight: bolder;
    background-color: rgba(190, 211, 172, 0.521) !important;
    transition: transform 80ms ease-in;
    /* border: solid green 1px !important; */

}

/* /////////////////////////////////// */
#top .beforlogin {
    position: absolute;
    right: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

#top div a {
    color: white;

}

/* // */
#top {
    /* background-color: rgb(3, 80, 3); */
    min-height: 40px;
    position: relative;
    padding: 0 20px 0 20px;

}

#top div {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    justify-content: space-between !important;
}

#top div a {
    text-decoration: none;
}

.secondtop {
    z-index: 9999999999;
    position: sticky;
    top: 0;
    color: white !important;
    position: absolute;
    width: 100%;
    border-bottom: solid 0.5px rgba(255, 255, 255, 0.575);

}

.l1:hover,
.l2:hover,
.l3:hover,
.l4:hover,
.l5:hover {
    font-weight: 700 !important;
    border-bottom: solid rgb(114, 127, 162) 2px !important;
}

.profile {
    width: 40px !important;
    border-radius: 50%;

}

.profile img {
    width: 100%;
}

.addlisting {
    border: dotted 2px !important;
    gap: 5px;
    align-items: center;
}



.whatsapp {
    transition: all 0.5s linear;
}

.whatsapp:hover {
    box-shadow: 0px 5px 10px #8AB4F8;
    border-radius: 8px;
}

.navbar-brand {
    /* width: 70px;
    height: 70px; */
    /* background: #000; */
    color: white !important;
    color: white;
    font-family: serif;
    font-size: x-large;
}

.navbar-brand span {
    font-size: xx-large !important;
    font-weight: bolder;
}

.logodesign2 {
    margin-top: -10px;
    width: 100px !important;
    color: white !important;
}

.logodesign3 {
    margin-top: -12px;
    width: 300px !important;
    height: 4.5px;
}

/* .navbar-brand img{
    width: 70px;
    height: 70px;
} */

.navsearch {
    width: 300px;
    border: none;
    border-bottom: solid 2px #ffffff;
    color: white !important;
}

.navsearch input,
.navsearch div {
    background-color: transparent !important;
    border: none;
    box-shadow: none !important;
    color: #ffffff !important;
}

@media (max-width: 994px) {
    #navbarSupportedContent {
        background-color: rgb(3, 15, 39) !important;
        padding: 0% 0 8px 8px;
    }
}

@media (max-width: 490px) {
   
    .topicon {
        display: none !important;
    }

    .first_nav,
    .linh {
        gap: 2px !important;
        /* border:  red solid 1px; */
        
    }

    .first_nav {
        padding: 6px !important;
    }

    .logodesign3 {
        margin-top: -8px;
    }
}