.sticky-topp {
    top: -40px;
}

.sticky-bottom {
    bottom: 20px;
    left: 80%;

}

/* //////////// */
.sticky-bottom .btn {
    border-radius: 3px !important;
    color: rgb(4, 63, 4);
    border: solid 1px black !important;
    font-size: medium;
    font-weight: bolder;
    background-color: rgba(190, 211, 172, 0.521) !important;
    transition: transform 80ms ease-in;
    /* border: solid green 1px !important; */

}

.sticky-bottom button:hover {
    border: solid blue 1px !important;
    background-color: rgba(255, 255, 255, 0.521) !important;
    background-color: white !important;
    transform: scale(0.90);


}

/* /////////////////////////////////// */
#top .beforlogin {
    position: absolute;
    right: 15px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
}

#top div a {
    color: white;

}

/* // */
#top {
    /* background-color: rgb(3, 80, 3); */
    height: 40px;
    position: relative;
    padding: 0 20px 0 20px;

}

#top div {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    justify-content: space-between !important;
}

#top div a {
    /* color: rgb(195, 248, 228) !important; */
    text-decoration: none;
    /* color: red !important; */
}


#top div div label {
    /* color: rgb(195, 248, 228) !important; */

}

/* ////// */
.secondtop {
    /* background-color: rgba(255, 255, 255, 0.705) !important; */
    z-index: 9999999999;
    position: sticky;
    top: 0;
    color: white !important;
    /* box-shadow: 2px 1px 6px rgb(228, 55, 3); */

}

.nav-item {
    color: red !important;
}

.l1:hover,
.l2:hover,
.l3:hover,
.l4:hover,
.l5:hover {
    font-weight: 700 !important;
    border-bottom: solid rgb(114, 127, 162) 2px !important;
    /* color: rgb(114,127,162) !important; */
}

.profile {
    width: 40px !important;
    border-radius: 50%;

}

.profile img {
    width: 100%;
}

.addlisting {
    border: dotted 2px !important;
    /* justify-content: center; */
    gap: 5px;
    align-items: center;
}





.secondtop_scroll {
    background-color: rgb(167, 253, 167);
}

.hov {
    transition: all 0.5s linear;
}

.hov:hover {
    box-shadow: 0px 5px 10px #8AB4F8;
    border-radius: 8px;
}

.map {
    width: 600px;
    height: 100%;
    background-color: #8AB4F8;
}

#mapimg {
    /* background-image: url(); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* overflow: hidden !important; */
    width: 100% !important;
    height: 500px !important;
}

.sticky-to {
    box-shadow: 0px 5px 10px #080808;

    /* border: solid 1px ; */
    background-color: #8AB4F8;
    position: absolute;
    border-radius: 3px;
    height: 570px !important;
    position: sticky;
    top: 77px;
}


.navbar-brand {
    /* width: 70px;
    height: 70px; */
    /* background: #000; */
    color: white;
    font-family: serif;

}

.navbar-brand span {
    font-size: xx-large !important;
    font-weight: bolder;
}

/* .navbar-brand img{
    width: 70px;
    height: 70px;
} */

.navsearch {
    width: 300px;
    border: none;
    border-bottom: solid 2px #eee;
    /* border-bottom: solid 2px rgb(255,193,7); */
}

.navsearch input,
.navsearch div {
    background-color: transparent !important;
    border: none;
    box-shadow: none !important;
    color: #eee;
    /* color: rgba(5, 18, 44, 0.795);
    color: rgb(255,193,7); */
}