#main-div {
    /* margin-top: 90px; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}
#main-div .navbar-brand{
    font-size: 70px ;
}
#hello {
    background-color: rgba(114, 127, 162, 0.712);
    width: 500px;
    height: 400px;
    margin-left: auto;
    font-size: x-large;
    color: aliceblue;
    border-top: solid .20px rgb(3, 15, 41);
    border-left: solid 10px rgb(3,15,39);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    /* border-bottom-left-radius: 50%; */
    border-bottom-right-radius: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding: 10px;

}

#message {
    color: aliceblue;
    min-height: 40px;
    /* font-size: large; */
    font-family: Georgia, 'Times New Roman', Times, serif;

}

#info {
    width: 500px;
    /* word-spacing: -5px; */
    color: rgb(247, 247, 253);
    font-size: 16px;
    font-family: monospace;
    font-family: serif ;

    font-weight: bold;
}
