#main-div {
    display: flex;
    flex-wrap: wrap;
    /* overflow: hidden; */
    gap: 50px;
}

#main-div .navbar-bran {
    font-size: 60px;
    color: white;
}

#main-div h2>.topico {
    margin-top: 10%;
    margin-bottom: 10%;
}

#hello {
    background-color: rgba(114, 127, 162, 0.712);
    width: 500px;
    height: 400px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: auto;
    font-size: x-large;
    color: rgb(255, 255, 255);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.contacthead {
    text-align: center;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;

}

.big_wrapper {
    padding-left: 25px;
    padding-right: 25px;
}

#message {
    color: aliceblue;
    min-height: 40px;
}

#info {
    max-width: 500px;
    line-height: 25px;
    color: rgb(247, 247, 253);
    font-size: 16px;
    font-family: monospace;
    font-family: serif;
}

@media(max-width:998px) {
    #main-div {
        margin-top: 90px;

    }
}

@media(max-width:1200px) {
    #hello{
        display: none !important;
    
        }
}
@media(max-width:610px) {
    #main-div .navbar-bran {
        font-size: 40px;
    }
    
}

@media(max-width:575.5px) {
    .big_wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }

    #hello {
        width: 100%;
        height: auto;
        border-radius: 0%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }
}

@media(max-width:425px) {
    #main-div .navbar-bran {
        font-size: 33px;
    }
}

@media(max-width:359px) {
    #main-div .navbar-bran {
        font-size: 25px;
    }

    #message {
        font-size: medium;
    }
}